/*

    CORES QUE SERÃO USADAS EM TODOS OS ELEMENTOS DO SITE
    MARROM  = FCE7C8 rgb(252, 231, 200)
    VERDE  = B1C29E rgb(177, 194, 158)
    AMARELO = FADA7A rgb(250, 218, 122)
    LARANJA = F0A04B rgb(240, 160, 75)

*/


html{
    font-family: "Open Sans", serif;
}

body{
    
}

main{
    margin-top: 50px;
}

.img_logo{
    width: 90px;
    height: auto;
}

img{
    width: 270px;
    height: inherit;
    border-radius: inherit;
}

.img_home{
    margin-top: 10px;
}

.col{
    margin: auto;
    margin-bottom: 20px;
    width: 310px;
    border-radius: 20px;
    border-color: rgb(233, 233, 233);
    border-style: solid;
    border-width: 1px;
    
}
.nome_hotel{
    margin-top: 10px;
    font-size: 25px;
}
.localizacao_hotel{
    margin-top: 10px;
}
h2{
    font-size: large;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(177, 194, 158);
    height: 40px;
    width: 230px;
    border-radius: 10px;
    border-style: hidden;
}

button:hover{
    color: rgb(177, 194, 158);
    background-color:rgb(252, 231, 200);
    
}


footer {

}