<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <!-- Importação do Bootstrap para estilização -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Importação da fonte Open Sans do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">

    <!-- Importação do arquivo de estilos CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- NAVBAR (Barra de Navegação) -->
    <header>
      <div class="navbar">
        <div class="navbar-col logo">
          <!-- Link para a página inicial com a logo -->
          <a href="{{ url_for('home' ) }}">
            <img class="img-logo-nav" src="{{ url_for('static', filename='imagens/logo/logo.png' ) }}" alt="Logo">
          </a>
        </div> 

        <!-- Campo de pesquisa na navbar -->
        <div class="navbar-col pesquisa">
          <input type="text" class="form-control pesquisa" placeholder="Pesquisar ⌕">
        </div>

        <!-- Link para a página "Quem Somos" -->
        <div class="navbar-col quem-somos">
          <a href="{{ url_for('quemSomos' ) }}"> Quem Somos </a>
        </div>

        <!-- Link para a página de login -->
        <div class="navbar-col login">

          {% if session['loggedin'] == True %}
            <a href="{{ url_for('usuario', id=session['id']) }}"> Olá, {{session['username']}}</a>
          {% elif session['loggedin'] == False %}
            <a href="{{ url_for('login' ) }}">Login</a>
          {% else %}
            <a href="{{ url_for('login' ) }}">Login</a>
          {% endif %}
          
        </div>
      </div>
    </header>

    <main>
        <!-- Seção inicial da página (Imagem + Texto) -->
        <section>
          <div class="home-init">
            <div class="home-slide">
              <!-- Imagem principal da seção inicial -->
              <img class="img-home-slide" src="{{ url_for('static', filename='imagens/hoteis/paraiso_azul_home.jpg' ) }}" alt="Imagens de Hotéis">
            </div>
  
            <div class="home-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            </div>
          </div>
        </section>
        
        <!-- Seção de cartões para exi  bição dos hotéis -->
        <section>
          <div class="card-grid">
            
            {% for hotel in hotel %}
            <div class="card">
              <!-- Imagem do hotel -->
              <img class="img-card-home" src="{{ url_for('static', filename=hotel.hotel_img_home) }}" alt="Imagem do hotel">
              
              <!-- Nome do hotel -->
              <h2 class="nome-card-home">{{ hotel.nome }}</h2>
              
              <!-- Localização do hotel -->
              <p class="local-card-home"><strong>Localização:</strong> {{ hotel.localizacao }}</p>
              
              <!-- Botão para visualizar mais detalhes do hotel -->
              <a class="a-card-home" href="{{ url_for('hotelPagina', id=hotel.id ) }}">
                <button class="btn-card-home" type="button">Conferir!</button>
              </a> 
            </div>
            {% endfor %}
          </div>
        </section>
      
        <!-- Seção final com outra imagem e texto -->
        <section>
          <div class="home-end">
            <div class="home-end-slide">
              <img class="img-home-slide-end" src="{{ url_for('static', filename='imagens/hoteis/paraiso_azul_home.jpg' ) }}" alt="Imagens de Hotéis">
            </div>

            <div class="home-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            </div>
          </div>
        </section>

        <!-- Outra seção de cartões, possivelmente para residências -->
        <section>
          <div class="card-grid">
            
            {% for hotel in hotel %}
            <div class="card">
              <!-- Imagem do hotel -->
              <img class="img-card-home" src="{{ url_for('static', filename=hotel.hotel_img_home) }}" alt="Imagem do hotel">
              
              <!-- Nome do hotel -->
              <h2 class="nome-card-home">{{ hotel.nome }}</h2>
              
              <!-- Localização do hotel -->
              <p class="local-card-home"><strong>Localização:</strong> {{ hotel.localizacao }}</p>
              
              <!-- Botão para visualizar mais detalhes do hotel -->
              <a class="a-card-home" href="{{ url_for('hotelPagina', id=hotel.id ) }}">
                <button class="btn-card-home" type="button">Conferir!</button>
              </a> 
            </div>
            {% endfor %}
          </div>
        </section>
    </main>
    
    <!-- Rodapé da página -->
    <footer>
    </footer>
</body>
</html>
