<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página do Usuário</title>
  <!-- Importação do Bootstrap para estilização -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Importação da fonte Open Sans do Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">

  <!-- Importação do arquivo de estilos CSS personalizado -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <!-- NAVBAR (Barra de Navegação) -->
  <header>
    <div class="navbar">
      <div class="navbar-col logo">
        <!-- Link para a página inicial com a logo -->
        <a href="{{ url_for('home' ) }}">
          <img class="img-logo-nav" src="{{ url_for('static', filename='imagens/logo/logo.png' ) }}" alt="Logo">
        </a>
      </div>

      <!-- Campo de pesquisa na navbar -->
      <div class="navbar-col pesquisa">
        <form action="/pesquisa" method="GET">
          <input type="search" class="form-control pesquisa" name="termo" placeholder="Pesquisar ⌕">
        </form>
      </div>
      
      <!-- Link para a página "Quem Somos" -->
      <div class="navbar-col quem-somos">
        <a href="{{ url_for('quemSomos' ) }}"> Quem Somos </a>
      </div>

      <div class="navbar-col">
        <a href="{{ url_for('carrinho' ) }}">Carrinho</a>
      </div>

      <!-- Link para a página de login -->
      <div class="navbar-col login">

        {% if session['loggedin'] == True %}
        <a href="{{ url_for('usuario', id=session['id']) }}"> Olá, {{session['username']}}</a>
        {% elif session['loggedin'] == False %}
        <a href="{{ url_for('login' ) }}">Login</a>
        {% else %}
        <a href="{{ url_for('login' ) }}">Login</a>
        {% endif %}

      </div>
    </div>
  </header>

  {% if session['loggedin'] == True %}
  <main>
    {% if not hotelCarrinho  %}
      <div class="carrinho-container">
        <div class="card-carrinho">
          <div class="info">
            <h1 class="carrinho-vazio">Carrinho Vazio! ˙◠˙</h1>
            <h3>Adicione itens!</h2>
          </div>
        </div>
        
      </div>
    {% else %}
    {% for hotel in hotelCarrinho %}
    <section>
      <div class="carrinho-container">

        <div class="card-carrinho">
          <img src="{{ url_for('static', filename=hotel.img_home ) }}" alt="Imagem do Hotel">
          <div class="info">
            <h3>{{ hotel.hospedagem_nome }}</h3>
            <p>{{ hotel.localizacao }}</p>
            <h4 class="preco-total-valor">R$ {{ hotel.preco_diaria }}</h4>
              <h5 class="descricao-carrinho">{{hotel.descricao}}</h5>
            
            <button type="button" class="remover" onclick="removerItem({{hotel.carrinho_id}})">
              Remover
            </button>
            
          </div>
        </div>

      </div>
    </section>
    {% endfor %}
    {% endif %}
    
  </main>

  {% else %}
  <img class="goku-careca" src="{{ url_for('static' , filename='imagens/teste/goku-careca.png' ) }}" alt="">
  {% endif %}

  </div>

  <script src="{{ url_for('static', filename="/js/removerItem.js" ) }}">
  </script>
  <footer>

  </footer>
</body>

</html>